.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.single-movie {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.ratings {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.ratings p {
  border-bottom: 1px solid black;
}

.main {
  display: flex;
}
.images {
  width: 50%;
}
.info {
  display: flex;
  flex-direction: column;
}
.info p {
  font-size: 16px;
  margin-left: 60px;
  justify-content: space-between;
}
